.timerBtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: rgb(90, 64, 114);
    color: rgb(253, 252, 249);
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#timeDisplay{
    font-size: 78px;
    color: #d49090;
    font-family: 'Courier New', Courier, monospace;
}
#timeContainer{
    text-align: center;
    border: 3px;
    border-radius: 25px;
    background-color: black;
}